<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PicturePuzzle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A99FDD51F1D14B700D1BD08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A99FDE91F1D14B700D1BD08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A99FDF41F1D14B700D1BD08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
